#contacts {
    min-height: 100vh;

    .book {
        position: relative;
        border-radius: 10px;
        width: 220px;
        height: 300px;
        background-color: rgba(255,88,88,255);
        -webkit-box-shadow: 1px 1px 12px #000;
        box-shadow: 1px 1px 12px #000;
        -webkit-transform: preserve-3d;
        -ms-transform: preserve-3d;
        transform: preserve-3d;
        -webkit-perspective: 2000px;
        perspective: 2000px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        color: #000;

        .card {
            width: 190px;
            height: 254px;
            background: rgb(38, 38, 38);
            border: none;
        }

        .imge {
            height: 70px;
            background-color: #ff5858;
        }

        .imge .Usericon {
            background-color: #414141;
            transform: translateX(10px) translateY(10px);
            width: 50px;
            height: 50px;
            border-radius: 10px;
        }

        .imge .UserName {
            background-color: #414141;
            width: 105px;
            border-width: 10px;
            border-radius: 5px;
            border-color: #262626;
            color: #262626;
            font-size: 15px;
            font-weight: bold;
            transform: translateX(70px) translateY(-35px);

            span{
                font-size: small;
            }
        }

        .imge .Id {
            background-color: #414141;
            width: 100px;
            height: 15px;
            border-width: 10px;
            border-radius: 5px;
            border-color: #262626;
            color: #262626;
            font-size: 15px;
            font-weight: bold;
            transform: translateX(70px) translateY(-25px);
        }

        .Description {
            border-color: #141414;
            background: radial-gradient(#b0e633, #53ef7d);;
            transform: translate(5px, 6px);
            width: 180px;
            height: 130px;
            border-radius: 5px;
        }

        /*______Social Media______*/
        .social-media:before {
            content: " ";
            display: block;
            width: 100%;
            height: 2px;
            transform: translatey(10px);
            background: #414141;
        }

        .social-media a {
            margin-right: 15px;
            text-decoration: none;
            color: inherit;
        }

        .social-media a:last-child {
            margin-right: 0;
        }

        .social-media a svg{
            color: #ff5858;
            transform: translatex(25px) translateY(20px);
            width: 20px;
            font-size: 20px;
            fill: currentColor;
        }

        .social-media a i {
            color: #ff5858;
            transform: translatex(25px) translateY(23px);
            width: 20px;
            font-size: 20px;
            fill: currentColor;
        }
    }

    .cover {
        top: 0;
        position: absolute;
        background-color: rgba(255,88,88,255);
        width: 100%;
        height: 100%;
        border-radius: 10px;
        cursor: pointer;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        -webkit-transform-origin: 0;
        -ms-transform-origin: 0;
        transform-origin: 0;
        -webkit-box-shadow: 1px 1px 12px #000;
        box-shadow: 1px 1px 12px #000;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .book:hover .cover {
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        -webkit-transform: rotatey(-120deg);
        -ms-transform: rotatey(-120deg);
        transform: rotatey(-120deg);
    }

    h3{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-style: oblique;
    }

    p {
        font-size: 17px;
        font-weight: bolder;
    }
}
