@use "./pages/welcome";
@use "./dashboard/dashboard";

@import "~bootstrap/scss/bootstrap";

* {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}

body {
    background: rgb(29, 26, 134);
    background: linear-gradient(
        90deg,
        rgba(29, 26, 134, 1) 0%,
        rgba(17, 0, 191, 1) 50%,
        rgba(29, 0, 255, 1) 100%
    );
}
